#del {
	background: url("./images/icons.png") no-repeat scroll -20px 0 transparent;
	height: 20px;
	width: 20px;
	}
#check {
	background: url("./images/icons.png") no-repeat scroll 0 0 transparent;
	height: 20px;
	width: 20px;
	}

#wrench {
	background: url("./images/icons.png") no-repeat scroll -40 0 transparent;
	height: 20px;
	width: 20px;
	}

